.controls-grid {
    display: grid;
    grid-gap: 1px;
    margin: 1px;
    width: 180px;
}

.controls-grid > * {
    width: 100%;
    height: 100%;
}

.controls-grid > * > * {
    width: 100%;
    height: 100%;
}

.controls-grid > * > button {
    aspect-ratio: 1 / 1;
    font-size: 18px;
    padding: 0;
    vertical-align: center;
    text-align: center;
}


input[type="text"] {
    margin: 0;
    display: block;
    width: 100%;
    border: 2px solid #838383;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0 0 0 5px;
    text-align: left;
    vertical-align: center;
}